{% extends 'base.html' %}

{% block head %}

<!-- Jquery UI -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- DateTimePicker https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

<!-- Datatable -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/alerts_table.css') }}"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

<!-- Custom logic -->
<script src="{{ url_for('static', filename='js/alerts.js') }}"></script>

{% endblock %}

{% block content %}

 <!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="mt-5">Opsgenie alerts</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="mt-5">Select the date range</h2>
      <div class='col-md-3'>
         <input type='text' class="form-control" id='from' autocomplete='off'/>
      </div>
      <div class='col-md-3'>
         <input type='text' class="form-control" id='to' autocomplete='off'/>
      </div>
      <div class='col-md-1'>
         <input id="url" type="hidden" value="{{ url_for('api.alert_list') }}">
        <button type="button" class="btn btn-dark" id="fetch">Fetch</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="alerts" class="col-lg-12" style="display:none">
      <h2 class="mt-5">Alerts</h2>
      <span id="table-placeholder">
      </span>
    </div>
  </div>
</div>
{% endblock %}